<!DOCtype html>
<html>
 <head>
  <title>         </title>
  <link rel="stylesheet" href="../css/style.css">
 </head>
<body>

                        <div class="see">
                        <ul>      
                                    
                        <li>Gmail</li>      
                        <li>Images</li> 

                        <li><button type="button">Sign in</button></li>
                                    
                        </ul>
                        </div>


                <div class="see1">
                      <ul>
                      <div class="tile"><li>G</li></div>
                      <div class="tile2"><li>o</li></div>
                      <div class="tile3"><li>o</li></div>
                      <div class="tile4"><li>g</li></div>
                      <div class="tile5"><li>l</li></div> 
                       <div class="tile6"><li>e</li></div>

                       </ul>
                                     
                    
                                 
                  </div>

                  <form class="lol">
                              <input type="text" name="search">
                              
                  </form>

                        <div class="ton"> 
                          <button type="button">Google Search</button> 
                          <button type="button">I'm Feeling Lucky</button>       
                        
                        </div>

           <div class="tent">Google offered in: 
            <ul>
            <div class="tent1">
               <li> Luganda</li>
               <li>Kiswahili</li>  
               <li>Ikinyarwanda</li>
               <li>Luo</li>
               <li> Runyakitara </li></div>
            </ul>
            </div>


</body>

<footer>
            
      
 <div class="fit">Uganda</div>
 
       <div class="fit2"><li>Advertising</li> <li> Business</li> <li>About</li>
       </div>           
   <div class="fit3"><li>Privacy</li> <li>Terms</li>   <li>Settings</li>
   </div> 
   
   

   
         </footer>
     


</html>