<!DOCtype html>
<html>

<head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <title>Google|Front Page </title>
      <link rel="stylesheet" href="../css/style.css">
      <script src="../js/main.js"></script>
</head>

<body>

      <div class="tab">
            <ul>
      
                  <li>About</li>
                  <li>Store</li>
            </ul>
      </div>
      
      <div class="see">
            <ul>
                  <li>Gmail</li>
                  <li>Images</li>
                  <li><button type="button">Sign in</button></li>
            </ul>
      </div>


      <div class="see1">
            <ul>
                  <div class="tile">
                        <li>G</li>
                  </div>
                  <div class="tile2">
                        <li>o</li>
                  </div>
                  <div class="tile3">
                        <li>o</li>
                  </div>
                  <div class="tile4">
                        <li>g</li>
                  </div>
                  <div class="tile5">
                        <li>l</li>
                  </div>
                  <div class="tile6">
                        <li>e</li>
                  </div>

            </ul>
      </div>

      <form class="lol">

            <input type="text" id="pic"  placeholder="Search Google or type a URL">
            <p id="error"></p>

      </form>

      <div class="ton">
            <button onclick="validator()" type="button" id="mybtn">Google Search</button>
            <button type="button">I'm Feeling Lucky</button>

      </div>

      <div class="tent">Google offered in: <a href="#">Luganda</a> <a href="#">Kiswahili</a> <a href="#"> Ikinyarwanda</a>
            <a href ="#">Runyakitara</a>
            
      </div>

      <div class="futer">
            <p>Uganda</p>
            <hr>
            <div id="futer">
                  <ul id="tin">
                        <li>Advertising</li>
                        <li> Business</li>
                        <li>About</li>
                  
                        <li class="right">Settings</li> 
                        <li class="right"> Privacy</li>
                        <li class="right">Terms</li>
                        
                        </ul>
            <div>
            </div>
      
</body>
<html>